.img-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 100%;
    height: 50%;
}

.img-div{
    height: 100%;
    width: 100%;
    /* border: 1px solid black; */
}